In [1]:
import pandas as pd
import numpy as np

In [54]:
data_frame = pd.read_csv("Latest_Rankings.csv", index_col = 'Nation')
data_frame.head(25)

               Rank  Squad_Size  Avg_Age Total Value Confideration  Points
Nation
Belgium           1          31     27.4    $793.10m          UEFA    1780
France            2          26     27.6     $1.17bn          UEFA    1755
Brazil            3          25     27.6     $1.03bn      CONMEBOL    1743
England           4          25     25.6     $1.11bn          UEFA    1670
Portugal          5          24     27.4    $845.90m          UEFA    1662
Spain             6          24     26.4    $940.50m          UEFA    1645
Argentina         7          22     27.9    $581.90m      CONMEBOL    1642
Uruguay           8          35     27.0    $498.16m      CONMEBOL    1639
Mexico            9          22     27.8    $190.96m      CONCACAF    1632
Italy            10          29     27.1    $893.20m          UEFA    1625
Croatia          11          25     28.2    $385.00m          UEFA    1617
Denmark          12          27     27.7    $330.33m          UEFA    1614
Germany          13          23     26.3     $1.04bn          UEFA    1610
Netherlands      14          24     27.4    $566.23m          UEFA    1609
Colombia         15          27     27.6    $337.40m      CONMEBOL    1601
Switzerland      16          23     26.9    $289.30m          UEFA    1593
Chile            17          24     28.1     $39.93m      CONMEBOL    1567
Wales            18          25     25.2    $137.97m          UEFA    1562
Poland           19          25     26.6    $300.19m          UEFA    1559
Senegal          20          23     26.4    $253.94m           CAF    1558
Sweden           20          25     28.6    $222.97m          UEFA    1558
United States    22          26     23.3    $229.90m      CONCACAF    1548
Austria          23          29     27.2    $333.82m          UEFA    1531
Ukraine          24          23     26.4    $140.14m          UEFA    1521
Peru             25          36     28.7     $94.19m      CONMEBOL    1512

In [3]:
data_frame.dtypes

Rank               int64
Squad_Size         int64
Avg_Age          float64
Total Value       object
Confideration     object
Points             int64
dtype: object

In [55]:
players_df = pd.read_csv("players_20.csv", index_col="sofifa_id")
players_df

,short_name,nationality,overall,player_positions,work_rate,team_position
sofifa_id,,,,,,
158023,L. Messi,Argentina,94,"RW, CF, ST",Medium/Low,RW
20801,Cristiano Ronaldo,Portugal,93,"ST, LW",High/Low,LW
190871,Neymar Jr,Brazil,92,"LW, CAM",High/Medium,CAM
200389,J. Oblak,Slovenia,91,GK,Medium/Medium,GK
183277,E. Hazard,Belgium,91,"LW, CF",High/Medium,LW
...,...,...,...,...,...,...
245006,Shao Shuai,China PR,48,CB,Medium/High,RES
250995,Xiao Mingjie,China PR,48,CB,Medium/Medium,SUB
252332,Zhang Wei,China PR,48,CM,Low/Medium,SUB
251110,Wang Haijian,China PR,48,CM,Low/Low,SUB
233449,Pan Ximing,China PR,48,CM,Medium/Medium,SUB

In [56]:
values = players_df[players_df['nationality'] == 'Qatar']
values

Empty DataFrame
Columns: [short_name, nationality, overall, player_positions, work_rate, team_position]
Index: []

In [57]:
final_grouped_players_df = players_df.loc[players_df.team_position == 'RW'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['LW'] = players_df.loc[players_df.team_position == 'LW'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['LW'] = final_grouped_players_df['LW'].fillna(0)
final_grouped_players_df['ST']= players_df.loc[players_df.team_position == 'ST'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['ST'] = final_grouped_players_df['ST'].fillna(0)
final_grouped_players_df['CAM']= players_df.loc[players_df.team_position == 'CAM'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['CAM'] = final_grouped_players_df['CAM'].fillna(0)
final_grouped_players_df['CDM']= players_df.loc[players_df.team_position == 'CDM'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['CDM'] = final_grouped_players_df['CDM'].fillna(0)
final_grouped_players_df['CB']= players_df.loc[players_df.team_position == 'CB'].groupby('nationality')['overall'].agg(['mean'])
final_grouped_players_df['CB'] = final_grouped_players_df['CB'].fillna(0)
final_grouped_players_df['Attacking_Prowess'] = (final_grouped_players_df['mean'] + final_grouped_players_df['LW'] + final_grouped_players_df['ST'] + final_grouped_players_df['CAM'])/ 4
final_grouped_players_df['Defensive_Prowess'] = (final_grouped_players_df['CDM'] + final_grouped_players_df['CB']) / 2  
final_grouped_players_df

,mean,LW,ST,CAM,CDM,CB,Attacking_Prowess,Defensive_Prowess
nationality,,,,,,,,
Algeria,73.000000,75.000000,70.000000,78.000000,0.000000,0.000000,74.000000,0.000000
Angola,77.000000,0.000000,0.000000,71.000000,0.000000,0.000000,37.000000,0.000000
Argentina,72.076923,72.894737,73.225806,73.100000,71.333333,74.250000,72.824367,72.791667
Armenia,65.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.250000,0.000000
Australia,67.500000,67.000000,62.000000,68.000000,67.666667,65.000000,66.125000,66.333333
Austria,74.000000,72.000000,73.200000,68.571429,67.750000,68.500000,71.942857,68.125000
Azerbaijan,67.000000,0.000000,64.000000,0.000000,0.000000,0.000000,32.750000,0.000000
Belgium,72.666667,77.400000,70.666667,74.200000,0.000000,0.000000,73.733333,0.000000
Brazil,73.384615,71.375000,73.137931,74.230769,79.083333,75.000000,73.032079,77.041667
Burkina Faso,78.000000,0.000000,0.000000,72.000000,0.000000,0.000000,37.500000,0.000000
Cameroon,71.000000,0.000000,68.333333,0.000000,68.500000,74.333333,34.833333,71.416667
Canada,61.000000,62.000000,67.333333,74.000000,69.500000,0.000000,66.083333,34.750000
Chile,68.750000,70.000000,68.750000,70.000000,72.000000,0.000000,69.375000,36.000000
China PR,52.000000,68.500000,65.000000,57.000000,61.000000,65.000000,60.625000,63.000000
Colombia,72.750000,67.000000,69.625000,69.400000,68.000000,78.000000,69.693750,73.000000
Croatia,65.000000,0.000000,71.250000,75.000000,73.666667,0.000000,52.812500,36.833333
Denmark,65.666667,62.666667,69.333333,64.000000,69.000000,67.250000,65.416667,68.125000
Egypt,83.500000,0.000000,73.000000,0.000000,0.000000,0.000000,39.125000,0.000000
England,65.000000,67.461538,68.127660,66.461538,67.062500,67.000000,66.762684,67.031250
Faroe Islands,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000
Finland,66.000000,62.000000,77.000000,0.000000,0.000000,0.000000,51.250000,0.000000
France,72.000000,75.571429,73.894737,68.600000,69.818182,72.333333,72.516541,71.075758
Germany,76.000000,67.600000,69.368421,70.181818,68.076923,70.200000,70.787560,69.138462
Ghana,64.500000,67.200000,68.500000,73.000000,72.500000,0.000000,68.300000,36.250000
Guinea Bissau,73.000000,73.000000,0.000000,65.000000,0.000000,0.000000,52.750000,0.000000
Iraq,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000
Italy,70.666667,68.571429,72.888889,72.909091,75.200000,72.333333,71.259019,73.766667
Japan,75.000000,63.000000,70.200000,72.600000,69.500000,66.000000,70.200000,67.750000
Korea Republic,56.000000,55.000000,69.500000,66.500000,66.800000,64.000000,61.750000,65.400000
Kosovo,68.000000,79.000000,67.200000,73.000000,0.000000,71.000000,71.800000,35.500000
Libya,71.000000,0.000000,0.000000,0.000000,72.000000,0.000000,17.750000,36.000000
Mexico,82.500000,0.000000,67.500000,73.333333,0.000000,71.000000,55.833333,35.500000
Morocco,73.000000,70.500000,71.250000,70.000000,66.000000,0.000000,71.187500,33.000000
Netherlands,70.250000,71.166667,70.750000,72.111111,69.285714,84.000000,71.069444,76.642857
Nigeria,69.500000,69.000000,69.444444,70.500000,73.500000,75.000000,69.611111,74.250000
Northern Ireland,64.500000,59.000000,63.500000,65.000000,60.000000,0.000000,63.000000,30.000000
Norway,64.857143,63.875000,66.333333,73.333333,64.750000,67.000000,67.099702,65.875000
Portugal,74.000000,76.090909,71.000000,74.500000,74.000000,71.000000,73.897727,72.500000
Republic of Ireland,60.333333,0.000000,60.916667,63.833333,69.400000,63.750000,46.270833,66.575000
Romania,66.750000,67.200000,65.125000,65.750000,66.500000,0.000000,66.206250,33.250000
Saudi Arabia,61.000000,62.000000,65.000000,64.333333,63.500000,0.000000,63.083333,31.750000
Scotland,71.500000,54.000000,66.666667,70.000000,68.000000,64.000000,65.541667,66.000000
Sierra Leone,66.000000,0.000000,71.500000,0.000000,0.000000,0.000000,34.375000,0.000000
South Africa,72.000000,67.000000,0.000000,69.000000,0.000000,0.000000,52.000000,0.000000
Spain,74.777778,79.000000,72.909091,72.470588,74.230769,68.500000,74.789364,71.365385
Sweden,66.800000,69.166667,71.714286,66.750000,71.000000,71.600000,68.607738,71.300000
Togo,77.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.250000,0.000000
USA,68.000000,79.000000,71.000000,72.000000,0.000000,0.000000,72.500000,0.000000
Uruguay,71.000000,73.000000,77.857143,73.500000,66.000000,69.000000,73.839286,67.500000
Venezuela,72.000000,66.500000,73.500000,0.000000,0.000000,0.000000,53.000000,0.000000
Wales,64.000000,0.000000,60.000000,66.000000,61.000000,0.000000,47.500000,30.500000

In [6]:
# Merge_data_frame= data_frame.set_index('Nation')
# Merge_data_frame

In [58]:
#AFC_teams = pd.read_csv("AFC.csv")
#AFC_teams.head(10)
#Asia_Teams = pd.read_csv("Asia.csv")
#Asia_Teams.head(10)
#North_America_teams = pd.read_csv("North_America.csv")
#North_America_teams
#South_America_teams = pd.read_csv("South_America.csv")
#South_America_teams
#Oceania_Teams = pd.read_csv("Oceania.csv")
#Oceania_Teams
UEFA_Teams = pd.read_csv("UEFA.csv")
UEFA_Teams

                 Nation  Pots
0               Belgium     1
1                France     1
2               England     1
3              Portugal     1
4                 Spain     1
5                 Italy     1
6               Croatia     1
7               Denmark     1
8               Germany     1
9           Netherlands     1
10          Switzerland     2
11                Wales     2
12               Poland     2
13               Sweden     2
14              Austria     2
15              Ukraine     2
16               Serbia     2
17               Turkey     2
18             Slovakia     2
19              Romania     2
20               Russia     3
21              Hungary     3
22  Republic of Ireland     3
23       Czech Republic     3
24               Norway     3
25     Northern Ireland     3
26              Iceland     3
27             Scotland     3
28               Greece     3
29              Finland     4
30               Bosnia     4
31             Slovenia     4
32           Montenegro     4
33              Albania     4
34             Bulgaria     4
35               Israel     4
36              Belarus     4
37              Georgia     4
38           Luxembourg     4
39              Armenia     5
40               Cyprus     5
41        Faroe Islands     5
42           Azerbaijan     5
43              Estonia     5

In [8]:
#AFC_teams.dtypes

In [59]:
#team_details = pd.merge(Asia_Teams, data_frame, left_on='Nation', right_index =True ,how='left')
#team_details = pd.merge(North_America_teams, data_frame, left_on='Nation', right_index=True, how='left')
#team_details = pd.merge(South_America_teams, data_frame, left_on='Nation', right_index=True, how='left')
#team_details = pd.merge(Oceania_Teams, data_frame, left_on='Nation', right_index=True, how='left')
team_details = pd.merge(UEFA_Teams, data_frame, left_on='Nation', right_index=True, how='left')
team_details

,Nation,Pots,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points
0,Belgium,1,1,31,27.4,$793.10m,UEFA,1780
1,France,1,2,26,27.6,$1.17bn,UEFA,1755
2,England,1,4,25,25.6,$1.11bn,UEFA,1670
3,Portugal,1,5,24,27.4,$845.90m,UEFA,1662
4,Spain,1,6,24,26.4,$940.50m,UEFA,1645
5,Italy,1,10,29,27.1,$893.20m,UEFA,1625
6,Croatia,1,11,25,28.2,$385.00m,UEFA,1617
7,Denmark,1,12,27,27.7,$330.33m,UEFA,1614
8,Germany,1,13,23,26.3,$1.04bn,UEFA,1610
9,Netherlands,1,14,24,27.4,$566.23m,UEFA,1609
10,Switzerland,2,16,23,26.9,$289.30m,UEFA,1593
11,Wales,2,18,25,25.2,$137.97m,UEFA,1562
12,Poland,2,19,25,26.6,$300.19m,UEFA,1559
13,Sweden,2,20,25,28.6,$222.97m,UEFA,1558
14,Austria,2,23,29,27.2,$333.82m,UEFA,1531
15,Ukraine,2,24,23,26.4,$140.14m,UEFA,1521
16,Serbia,2,30,30,26.4,$383.41m,UEFA,1492
17,Turkey,2,32,24,25.9,$249.81m,UEFA,1487
18,Slovakia,2,34,29,27.7,$135.47m,UEFA,1478
19,Romania,2,37,24,27.7,$105.44m,UEFA,1466
20,Russia,3,39,26,28.4,$165.66m,UEFA,1461
21,Hungary,3,40,24,28.3,$65.84m,UEFA,1460
22,Republic of Ireland,3,42,27,26.4,$105.38m,UEFA,1456
23,Czech Republic,3,42,25,28.2,$176.50m,UEFA,1456
24,Norway,3,44,26,26.8,$270.16m,UEFA,1450
25,Northern Ireland,3,45,27,27.4,$50.22m,UEFA,1440
26,Iceland,3,46,23,29.0,$41.75m,UEFA,1438
27,Scotland,3,48,26,28.2,$274.34m,UEFA,1436
28,Greece,3,53,28,26.2,$114.46m,UEFA,1413
29,Finland,4,55,25,28.7,$32.89m,UEFA,1411
30,Bosnia,4,56,23,26.7,$87.12m,UEFA,1410
31,Slovenia,4,62,25,27.8,$148.34m,UEFA,1379
32,Montenegro,4,63,37,28.1,$70.51m,UEFA,1370
33,Albania,4,66,28,26.1,$117.89m,UEFA,1360
34,Bulgaria,4,68,26,28.1,$21.62m,UEFA,1350
35,Israel,4,87,23,27.3,$49.89m,UEFA,1279
36,Belarus,4,88,25,27.2,$15.84m,UEFA,1269
37,Georgia,4,89,27,26.9,$57.09m,UEFA,1267
38,Luxembourg,4,98,24,25.8,$21.37m,UEFA,1235
39,Armenia,5,99,23,27.6,$18.65m,UEFA,1233
40,Cyprus,5,100,28,25.4,$18.65m,UEFA,1224
41,Faroe Islands,5,107,23,28.0,$4.59m,UEFA,1183
42,Azerbaijan,5,108,33,25.8,$17.38m,UEFA,1180
43,Estonia,5,108,27,26.3,$5.39m,UEFA,1180

In [60]:
team_details = team_details.set_index("Nation")
team_details

,Pots,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points
Nation,,,,,,,
Belgium,1,1,31,27.4,$793.10m,UEFA,1780
France,1,2,26,27.6,$1.17bn,UEFA,1755
England,1,4,25,25.6,$1.11bn,UEFA,1670
Portugal,1,5,24,27.4,$845.90m,UEFA,1662
Spain,1,6,24,26.4,$940.50m,UEFA,1645
Italy,1,10,29,27.1,$893.20m,UEFA,1625
Croatia,1,11,25,28.2,$385.00m,UEFA,1617
Denmark,1,12,27,27.7,$330.33m,UEFA,1614
Germany,1,13,23,26.3,$1.04bn,UEFA,1610
Netherlands,1,14,24,27.4,$566.23m,UEFA,1609
Switzerland,2,16,23,26.9,$289.30m,UEFA,1593
Wales,2,18,25,25.2,$137.97m,UEFA,1562
Poland,2,19,25,26.6,$300.19m,UEFA,1559
Sweden,2,20,25,28.6,$222.97m,UEFA,1558
Austria,2,23,29,27.2,$333.82m,UEFA,1531
Ukraine,2,24,23,26.4,$140.14m,UEFA,1521
Serbia,2,30,30,26.4,$383.41m,UEFA,1492
Turkey,2,32,24,25.9,$249.81m,UEFA,1487
Slovakia,2,34,29,27.7,$135.47m,UEFA,1478
Romania,2,37,24,27.7,$105.44m,UEFA,1466
Russia,3,39,26,28.4,$165.66m,UEFA,1461
Hungary,3,40,24,28.3,$65.84m,UEFA,1460
Republic of Ireland,3,42,27,26.4,$105.38m,UEFA,1456
Czech Republic,3,42,25,28.2,$176.50m,UEFA,1456
Norway,3,44,26,26.8,$270.16m,UEFA,1450
Northern Ireland,3,45,27,27.4,$50.22m,UEFA,1440
Iceland,3,46,23,29.0,$41.75m,UEFA,1438
Scotland,3,48,26,28.2,$274.34m,UEFA,1436
Greece,3,53,28,26.2,$114.46m,UEFA,1413
Finland,4,55,25,28.7,$32.89m,UEFA,1411
Bosnia,4,56,23,26.7,$87.12m,UEFA,1410
Slovenia,4,62,25,27.8,$148.34m,UEFA,1379
Montenegro,4,63,37,28.1,$70.51m,UEFA,1370
Albania,4,66,28,26.1,$117.89m,UEFA,1360
Bulgaria,4,68,26,28.1,$21.62m,UEFA,1350
Israel,4,87,23,27.3,$49.89m,UEFA,1279
Belarus,4,88,25,27.2,$15.84m,UEFA,1269
Georgia,4,89,27,26.9,$57.09m,UEFA,1267
Luxembourg,4,98,24,25.8,$21.37m,UEFA,1235
Armenia,5,99,23,27.6,$18.65m,UEFA,1233
Cyprus,5,100,28,25.4,$18.65m,UEFA,1224
Faroe Islands,5,107,23,28.0,$4.59m,UEFA,1183
Azerbaijan,5,108,33,25.8,$17.38m,UEFA,1180
Estonia,5,108,27,26.3,$5.39m,UEFA,1180

In [61]:
grouped_players_df = players_df.groupby('nationality')['overall'].agg(['mean', 'count'])
grouped_players_df

                        mean  count
nationality
Afghanistan        62.000000      2
Albania            66.418605     43
Algeria            71.380000     50
Angola             69.375000     16
Antigua & Barbuda  59.428571      7
...                      ...    ...
Venezuela          67.075758     66
Vietnam            62.000000      1
Wales              64.692308    117
Zambia             67.100000     10
Zimbabwe           67.250000     12

[162 rows x 2 columns]

team_player_details = pd.merge(team_details, grouped_players_df, left_on='Nation', right_index=True, how='left').fillna(0)
team_player_details

In [62]:
team_player_details = pd.merge(team_details, grouped_players_df, left_on='Nation', right_index=True, how='left').fillna(0) 
team_player_details

,Pots,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count
Nation,,,,,,,,,
Belgium,1,1,31,27.4,$793.10m,UEFA,1780,68.432836,268.0
France,1,2,26,27.6,$1.17bn,UEFA,1755,67.416667,984.0
England,1,4,25,25.6,$1.11bn,UEFA,1670,63.251950,1667.0
Portugal,1,5,24,27.4,$845.90m,UEFA,1662,70.514535,344.0
Spain,1,6,24,26.4,$940.50m,UEFA,1645,69.953623,1035.0
Italy,1,10,29,27.1,$893.20m,UEFA,1625,67.657104,732.0
Croatia,1,11,25,28.2,$385.00m,UEFA,1617,69.785714,126.0
Denmark,1,12,27,27.7,$330.33m,UEFA,1614,63.681159,345.0
Germany,1,13,23,26.3,$1.04bn,UEFA,1610,65.939145,1216.0
Netherlands,1,14,24,27.4,$566.23m,UEFA,1609,68.149038,416.0
Switzerland,2,16,23,26.9,$289.30m,UEFA,1593,64.847162,229.0
Wales,2,18,25,25.2,$137.97m,UEFA,1562,64.692308,117.0
Poland,2,19,25,26.6,$300.19m,UEFA,1559,63.490741,324.0
Sweden,2,20,25,28.6,$222.97m,UEFA,1558,63.790503,358.0
Austria,2,23,29,27.2,$333.82m,UEFA,1531,65.595611,319.0
Ukraine,2,24,23,26.4,$140.14m,UEFA,1521,69.869565,69.0
Serbia,2,30,30,26.4,$383.41m,UEFA,1492,69.489209,139.0
Turkey,2,32,24,25.9,$249.81m,UEFA,1487,66.068027,294.0
Slovakia,2,34,29,27.7,$135.47m,UEFA,1478,69.314815,54.0
Romania,2,37,24,27.7,$105.44m,UEFA,1466,63.703833,287.0
Russia,3,39,26,28.4,$165.66m,UEFA,1461,69.333333,81.0
Hungary,3,40,24,28.3,$65.84m,UEFA,1460,69.685714,35.0
Republic of Ireland,3,42,27,26.4,$105.38m,UEFA,1456,61.005747,348.0
Czech Republic,3,42,25,28.2,$176.50m,UEFA,1456,70.313725,102.0
Norway,3,44,26,26.8,$270.16m,UEFA,1450,63.028571,350.0
Northern Ireland,3,45,27,27.4,$50.22m,UEFA,1440,63.790123,81.0
Iceland,3,46,23,29.0,$41.75m,UEFA,1438,67.282609,46.0
Scotland,3,48,26,28.2,$274.34m,UEFA,1436,64.750903,277.0
Greece,3,53,28,26.2,$114.46m,UEFA,1413,69.395833,96.0
Finland,4,55,25,28.7,$32.89m,UEFA,1411,63.819444,72.0
Bosnia,4,56,23,26.7,$87.12m,UEFA,1410,0.000000,0.0
Slovenia,4,62,25,27.8,$148.34m,UEFA,1379,68.704918,61.0
Montenegro,4,63,37,28.1,$70.51m,UEFA,1370,66.363636,33.0
Albania,4,66,28,26.1,$117.89m,UEFA,1360,66.418605,43.0
Bulgaria,4,68,26,28.1,$21.62m,UEFA,1350,63.463415,41.0
Israel,4,87,23,27.3,$49.89m,UEFA,1279,71.125000,16.0
Belarus,4,88,25,27.2,$15.84m,UEFA,1269,0.000000,0.0
Georgia,4,89,27,26.9,$57.09m,UEFA,1267,69.040000,25.0
Luxembourg,4,98,24,25.8,$21.37m,UEFA,1235,65.666667,9.0
Armenia,5,99,23,27.6,$18.65m,UEFA,1233,69.375000,8.0
Cyprus,5,100,28,25.4,$18.65m,UEFA,1224,61.727273,11.0
Faroe Islands,5,107,23,28.0,$4.59m,UEFA,1183,61.400000,5.0
Azerbaijan,5,108,33,25.8,$17.38m,UEFA,1180,62.833333,6.0
Estonia,5,108,27,26.3,$5.39m,UEFA,1180,66.333333,6.0

In [63]:
min_rank = team_player_details.min()['Rank']
min_rank

1

In [64]:
max_rank = team_player_details.max()['Rank']
max_rank

108

In [65]:
team_player_details['Normalize_Rank'] = (max_rank - team_player_details['Rank']) / (max_rank - min_rank)
team_player_details

,Pots,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank
Nation,,,,,,,,,,
Belgium,1,1,31,27.4,$793.10m,UEFA,1780,68.432836,268.0,1.000000
France,1,2,26,27.6,$1.17bn,UEFA,1755,67.416667,984.0,0.990654
England,1,4,25,25.6,$1.11bn,UEFA,1670,63.251950,1667.0,0.971963
Portugal,1,5,24,27.4,$845.90m,UEFA,1662,70.514535,344.0,0.962617
Spain,1,6,24,26.4,$940.50m,UEFA,1645,69.953623,1035.0,0.953271
Italy,1,10,29,27.1,$893.20m,UEFA,1625,67.657104,732.0,0.915888
Croatia,1,11,25,28.2,$385.00m,UEFA,1617,69.785714,126.0,0.906542
Denmark,1,12,27,27.7,$330.33m,UEFA,1614,63.681159,345.0,0.897196
Germany,1,13,23,26.3,$1.04bn,UEFA,1610,65.939145,1216.0,0.887850
Netherlands,1,14,24,27.4,$566.23m,UEFA,1609,68.149038,416.0,0.878505
Switzerland,2,16,23,26.9,$289.30m,UEFA,1593,64.847162,229.0,0.859813
Wales,2,18,25,25.2,$137.97m,UEFA,1562,64.692308,117.0,0.841121
Poland,2,19,25,26.6,$300.19m,UEFA,1559,63.490741,324.0,0.831776
Sweden,2,20,25,28.6,$222.97m,UEFA,1558,63.790503,358.0,0.822430
Austria,2,23,29,27.2,$333.82m,UEFA,1531,65.595611,319.0,0.794393
Ukraine,2,24,23,26.4,$140.14m,UEFA,1521,69.869565,69.0,0.785047
Serbia,2,30,30,26.4,$383.41m,UEFA,1492,69.489209,139.0,0.728972
Turkey,2,32,24,25.9,$249.81m,UEFA,1487,66.068027,294.0,0.710280
Slovakia,2,34,29,27.7,$135.47m,UEFA,1478,69.314815,54.0,0.691589
Romania,2,37,24,27.7,$105.44m,UEFA,1466,63.703833,287.0,0.663551
Russia,3,39,26,28.4,$165.66m,UEFA,1461,69.333333,81.0,0.644860
Hungary,3,40,24,28.3,$65.84m,UEFA,1460,69.685714,35.0,0.635514
Republic of Ireland,3,42,27,26.4,$105.38m,UEFA,1456,61.005747,348.0,0.616822
Czech Republic,3,42,25,28.2,$176.50m,UEFA,1456,70.313725,102.0,0.616822
Norway,3,44,26,26.8,$270.16m,UEFA,1450,63.028571,350.0,0.598131
Northern Ireland,3,45,27,27.4,$50.22m,UEFA,1440,63.790123,81.0,0.588785
Iceland,3,46,23,29.0,$41.75m,UEFA,1438,67.282609,46.0,0.579439
Scotland,3,48,26,28.2,$274.34m,UEFA,1436,64.750903,277.0,0.560748
Greece,3,53,28,26.2,$114.46m,UEFA,1413,69.395833,96.0,0.514019
Finland,4,55,25,28.7,$32.89m,UEFA,1411,63.819444,72.0,0.495327
Bosnia,4,56,23,26.7,$87.12m,UEFA,1410,0.000000,0.0,0.485981
Slovenia,4,62,25,27.8,$148.34m,UEFA,1379,68.704918,61.0,0.429907
Montenegro,4,63,37,28.1,$70.51m,UEFA,1370,66.363636,33.0,0.420561
Albania,4,66,28,26.1,$117.89m,UEFA,1360,66.418605,43.0,0.392523
Bulgaria,4,68,26,28.1,$21.62m,UEFA,1350,63.463415,41.0,0.373832
Israel,4,87,23,27.3,$49.89m,UEFA,1279,71.125000,16.0,0.196262
Belarus,4,88,25,27.2,$15.84m,UEFA,1269,0.000000,0.0,0.186916
Georgia,4,89,27,26.9,$57.09m,UEFA,1267,69.040000,25.0,0.177570
Luxembourg,4,98,24,25.8,$21.37m,UEFA,1235,65.666667,9.0,0.093458
Armenia,5,99,23,27.6,$18.65m,UEFA,1233,69.375000,8.0,0.084112
Cyprus,5,100,28,25.4,$18.65m,UEFA,1224,61.727273,11.0,0.074766
Faroe Islands,5,107,23,28.0,$4.59m,UEFA,1183,61.400000,5.0,0.009346
Azerbaijan,5,108,33,25.8,$17.38m,UEFA,1180,62.833333,6.0,0.000000
Estonia,5,108,27,26.3,$5.39m,UEFA,1180,66.333333,6.0,0.000000

In [66]:
team_player_details['Above_Median_Count'] = team_player_details['count']/ 2 
team_player_details['Above_Median_Count'] =team_player_details['Above_Median_Count'].astype("int32")
team_player_details

,Pots,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,,
Belgium,1,1,31,27.4,$793.10m,UEFA,1780,68.432836,268.0,1.000000,134
France,1,2,26,27.6,$1.17bn,UEFA,1755,67.416667,984.0,0.990654,492
England,1,4,25,25.6,$1.11bn,UEFA,1670,63.251950,1667.0,0.971963,833
Portugal,1,5,24,27.4,$845.90m,UEFA,1662,70.514535,344.0,0.962617,172
Spain,1,6,24,26.4,$940.50m,UEFA,1645,69.953623,1035.0,0.953271,517
Italy,1,10,29,27.1,$893.20m,UEFA,1625,67.657104,732.0,0.915888,366
Croatia,1,11,25,28.2,$385.00m,UEFA,1617,69.785714,126.0,0.906542,63
Denmark,1,12,27,27.7,$330.33m,UEFA,1614,63.681159,345.0,0.897196,172
Germany,1,13,23,26.3,$1.04bn,UEFA,1610,65.939145,1216.0,0.887850,608
Netherlands,1,14,24,27.4,$566.23m,UEFA,1609,68.149038,416.0,0.878505,208
Switzerland,2,16,23,26.9,$289.30m,UEFA,1593,64.847162,229.0,0.859813,114
Wales,2,18,25,25.2,$137.97m,UEFA,1562,64.692308,117.0,0.841121,58
Poland,2,19,25,26.6,$300.19m,UEFA,1559,63.490741,324.0,0.831776,162
Sweden,2,20,25,28.6,$222.97m,UEFA,1558,63.790503,358.0,0.822430,179
Austria,2,23,29,27.2,$333.82m,UEFA,1531,65.595611,319.0,0.794393,159
Ukraine,2,24,23,26.4,$140.14m,UEFA,1521,69.869565,69.0,0.785047,34
Serbia,2,30,30,26.4,$383.41m,UEFA,1492,69.489209,139.0,0.728972,69
Turkey,2,32,24,25.9,$249.81m,UEFA,1487,66.068027,294.0,0.710280,147
Slovakia,2,34,29,27.7,$135.47m,UEFA,1478,69.314815,54.0,0.691589,27
Romania,2,37,24,27.7,$105.44m,UEFA,1466,63.703833,287.0,0.663551,143
Russia,3,39,26,28.4,$165.66m,UEFA,1461,69.333333,81.0,0.644860,40
Hungary,3,40,24,28.3,$65.84m,UEFA,1460,69.685714,35.0,0.635514,17
Republic of Ireland,3,42,27,26.4,$105.38m,UEFA,1456,61.005747,348.0,0.616822,174
Czech Republic,3,42,25,28.2,$176.50m,UEFA,1456,70.313725,102.0,0.616822,51
Norway,3,44,26,26.8,$270.16m,UEFA,1450,63.028571,350.0,0.598131,175
Northern Ireland,3,45,27,27.4,$50.22m,UEFA,1440,63.790123,81.0,0.588785,40
Iceland,3,46,23,29.0,$41.75m,UEFA,1438,67.282609,46.0,0.579439,23
Scotland,3,48,26,28.2,$274.34m,UEFA,1436,64.750903,277.0,0.560748,138
Greece,3,53,28,26.2,$114.46m,UEFA,1413,69.395833,96.0,0.514019,48
Finland,4,55,25,28.7,$32.89m,UEFA,1411,63.819444,72.0,0.495327,36
Bosnia,4,56,23,26.7,$87.12m,UEFA,1410,0.000000,0.0,0.485981,0
Slovenia,4,62,25,27.8,$148.34m,UEFA,1379,68.704918,61.0,0.429907,30
Montenegro,4,63,37,28.1,$70.51m,UEFA,1370,66.363636,33.0,0.420561,16
Albania,4,66,28,26.1,$117.89m,UEFA,1360,66.418605,43.0,0.392523,21
Bulgaria,4,68,26,28.1,$21.62m,UEFA,1350,63.463415,41.0,0.373832,20
Israel,4,87,23,27.3,$49.89m,UEFA,1279,71.125000,16.0,0.196262,8
Belarus,4,88,25,27.2,$15.84m,UEFA,1269,0.000000,0.0,0.186916,0
Georgia,4,89,27,26.9,$57.09m,UEFA,1267,69.040000,25.0,0.177570,12
Luxembourg,4,98,24,25.8,$21.37m,UEFA,1235,65.666667,9.0,0.093458,4
Armenia,5,99,23,27.6,$18.65m,UEFA,1233,69.375000,8.0,0.084112,4
Cyprus,5,100,28,25.4,$18.65m,UEFA,1224,61.727273,11.0,0.074766,5
Faroe Islands,5,107,23,28.0,$4.59m,UEFA,1183,61.400000,5.0,0.009346,2
Azerbaijan,5,108,33,25.8,$17.38m,UEFA,1180,62.833333,6.0,0.000000,3
Estonia,5,108,27,26.3,$5.39m,UEFA,1180,66.333333,6.0,0.000000,3

In [67]:
fetched_team = team_player_details[team_player_details['Normalize_Rank'].gt(0.4)]
fetched_team

,Pots,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,,
Belgium,1,1,31,27.4,$793.10m,UEFA,1780,68.432836,268.0,1.000000,134
France,1,2,26,27.6,$1.17bn,UEFA,1755,67.416667,984.0,0.990654,492
England,1,4,25,25.6,$1.11bn,UEFA,1670,63.251950,1667.0,0.971963,833
Portugal,1,5,24,27.4,$845.90m,UEFA,1662,70.514535,344.0,0.962617,172
Spain,1,6,24,26.4,$940.50m,UEFA,1645,69.953623,1035.0,0.953271,517
Italy,1,10,29,27.1,$893.20m,UEFA,1625,67.657104,732.0,0.915888,366
Croatia,1,11,25,28.2,$385.00m,UEFA,1617,69.785714,126.0,0.906542,63
Denmark,1,12,27,27.7,$330.33m,UEFA,1614,63.681159,345.0,0.897196,172
Germany,1,13,23,26.3,$1.04bn,UEFA,1610,65.939145,1216.0,0.887850,608
Netherlands,1,14,24,27.4,$566.23m,UEFA,1609,68.149038,416.0,0.878505,208
Switzerland,2,16,23,26.9,$289.30m,UEFA,1593,64.847162,229.0,0.859813,114
Wales,2,18,25,25.2,$137.97m,UEFA,1562,64.692308,117.0,0.841121,58
Poland,2,19,25,26.6,$300.19m,UEFA,1559,63.490741,324.0,0.831776,162
Sweden,2,20,25,28.6,$222.97m,UEFA,1558,63.790503,358.0,0.822430,179
Austria,2,23,29,27.2,$333.82m,UEFA,1531,65.595611,319.0,0.794393,159
Ukraine,2,24,23,26.4,$140.14m,UEFA,1521,69.869565,69.0,0.785047,34
Serbia,2,30,30,26.4,$383.41m,UEFA,1492,69.489209,139.0,0.728972,69
Turkey,2,32,24,25.9,$249.81m,UEFA,1487,66.068027,294.0,0.710280,147
Slovakia,2,34,29,27.7,$135.47m,UEFA,1478,69.314815,54.0,0.691589,27
Romania,2,37,24,27.7,$105.44m,UEFA,1466,63.703833,287.0,0.663551,143
Russia,3,39,26,28.4,$165.66m,UEFA,1461,69.333333,81.0,0.644860,40
Hungary,3,40,24,28.3,$65.84m,UEFA,1460,69.685714,35.0,0.635514,17
Republic of Ireland,3,42,27,26.4,$105.38m,UEFA,1456,61.005747,348.0,0.616822,174
Czech Republic,3,42,25,28.2,$176.50m,UEFA,1456,70.313725,102.0,0.616822,51
Norway,3,44,26,26.8,$270.16m,UEFA,1450,63.028571,350.0,0.598131,175
Northern Ireland,3,45,27,27.4,$50.22m,UEFA,1440,63.790123,81.0,0.588785,40
Iceland,3,46,23,29.0,$41.75m,UEFA,1438,67.282609,46.0,0.579439,23
Scotland,3,48,26,28.2,$274.34m,UEFA,1436,64.750903,277.0,0.560748,138
Greece,3,53,28,26.2,$114.46m,UEFA,1413,69.395833,96.0,0.514019,48
Finland,4,55,25,28.7,$32.89m,UEFA,1411,63.819444,72.0,0.495327,36
Bosnia,4,56,23,26.7,$87.12m,UEFA,1410,0.000000,0.0,0.485981,0
Slovenia,4,62,25,27.8,$148.34m,UEFA,1379,68.704918,61.0,0.429907,30
Montenegro,4,63,37,28.1,$70.51m,UEFA,1370,66.363636,33.0,0.420561,16

In [68]:
teams_qualified = team_player_details.loc[(team_player_details['Normalize_Rank'].gt(0.4)) & 
((team_player_details['Squad_Size'] * 1.5) < team_player_details['Above_Median_Count'])]
teams_qualified

,Pots,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,,
Belgium,1,1,31,27.4,$793.10m,UEFA,1780,68.432836,268.0,1.000000,134
France,1,2,26,27.6,$1.17bn,UEFA,1755,67.416667,984.0,0.990654,492
England,1,4,25,25.6,$1.11bn,UEFA,1670,63.251950,1667.0,0.971963,833
Portugal,1,5,24,27.4,$845.90m,UEFA,1662,70.514535,344.0,0.962617,172
Spain,1,6,24,26.4,$940.50m,UEFA,1645,69.953623,1035.0,0.953271,517
Italy,1,10,29,27.1,$893.20m,UEFA,1625,67.657104,732.0,0.915888,366
Croatia,1,11,25,28.2,$385.00m,UEFA,1617,69.785714,126.0,0.906542,63
Denmark,1,12,27,27.7,$330.33m,UEFA,1614,63.681159,345.0,0.897196,172
Germany,1,13,23,26.3,$1.04bn,UEFA,1610,65.939145,1216.0,0.887850,608
Netherlands,1,14,24,27.4,$566.23m,UEFA,1609,68.149038,416.0,0.878505,208
Switzerland,2,16,23,26.9,$289.30m,UEFA,1593,64.847162,229.0,0.859813,114
Wales,2,18,25,25.2,$137.97m,UEFA,1562,64.692308,117.0,0.841121,58
Poland,2,19,25,26.6,$300.19m,UEFA,1559,63.490741,324.0,0.831776,162
Sweden,2,20,25,28.6,$222.97m,UEFA,1558,63.790503,358.0,0.822430,179
Austria,2,23,29,27.2,$333.82m,UEFA,1531,65.595611,319.0,0.794393,159
Serbia,2,30,30,26.4,$383.41m,UEFA,1492,69.489209,139.0,0.728972,69
Turkey,2,32,24,25.9,$249.81m,UEFA,1487,66.068027,294.0,0.710280,147
Romania,2,37,24,27.7,$105.44m,UEFA,1466,63.703833,287.0,0.663551,143
Russia,3,39,26,28.4,$165.66m,UEFA,1461,69.333333,81.0,0.644860,40
Republic of Ireland,3,42,27,26.4,$105.38m,UEFA,1456,61.005747,348.0,0.616822,174
Czech Republic,3,42,25,28.2,$176.50m,UEFA,1456,70.313725,102.0,0.616822,51
Norway,3,44,26,26.8,$270.16m,UEFA,1450,63.028571,350.0,0.598131,175
Scotland,3,48,26,28.2,$274.34m,UEFA,1436,64.750903,277.0,0.560748,138
Greece,3,53,28,26.2,$114.46m,UEFA,1413,69.395833,96.0,0.514019,48

In [69]:
team_player_details['Total Value'] = team_player_details['Total Value'].replace({'\$':''}, regex = True)
team_player_details['Total Value'] = team_player_details['Total Value'].replace({'m':''}, regex = True)
team_player_details['Total Value'] = team_player_details['Total Value'].replace({'bn':''}, regex = True)
team_player_details['Total Value'] = team_player_details['Total Value'].replace({'Th': ''}, regex=True)
team_player_details

,Pots,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,,
Belgium,1,1,31,27.4,793.10,UEFA,1780,68.432836,268.0,1.000000,134
France,1,2,26,27.6,1.17,UEFA,1755,67.416667,984.0,0.990654,492
England,1,4,25,25.6,1.11,UEFA,1670,63.251950,1667.0,0.971963,833
Portugal,1,5,24,27.4,845.90,UEFA,1662,70.514535,344.0,0.962617,172
Spain,1,6,24,26.4,940.50,UEFA,1645,69.953623,1035.0,0.953271,517
Italy,1,10,29,27.1,893.20,UEFA,1625,67.657104,732.0,0.915888,366
Croatia,1,11,25,28.2,385.00,UEFA,1617,69.785714,126.0,0.906542,63
Denmark,1,12,27,27.7,330.33,UEFA,1614,63.681159,345.0,0.897196,172
Germany,1,13,23,26.3,1.04,UEFA,1610,65.939145,1216.0,0.887850,608
Netherlands,1,14,24,27.4,566.23,UEFA,1609,68.149038,416.0,0.878505,208
Switzerland,2,16,23,26.9,289.30,UEFA,1593,64.847162,229.0,0.859813,114
Wales,2,18,25,25.2,137.97,UEFA,1562,64.692308,117.0,0.841121,58
Poland,2,19,25,26.6,300.19,UEFA,1559,63.490741,324.0,0.831776,162
Sweden,2,20,25,28.6,222.97,UEFA,1558,63.790503,358.0,0.822430,179
Austria,2,23,29,27.2,333.82,UEFA,1531,65.595611,319.0,0.794393,159
Ukraine,2,24,23,26.4,140.14,UEFA,1521,69.869565,69.0,0.785047,34
Serbia,2,30,30,26.4,383.41,UEFA,1492,69.489209,139.0,0.728972,69
Turkey,2,32,24,25.9,249.81,UEFA,1487,66.068027,294.0,0.710280,147
Slovakia,2,34,29,27.7,135.47,UEFA,1478,69.314815,54.0,0.691589,27
Romania,2,37,24,27.7,105.44,UEFA,1466,63.703833,287.0,0.663551,143
Russia,3,39,26,28.4,165.66,UEFA,1461,69.333333,81.0,0.644860,40
Hungary,3,40,24,28.3,65.84,UEFA,1460,69.685714,35.0,0.635514,17
Republic of Ireland,3,42,27,26.4,105.38,UEFA,1456,61.005747,348.0,0.616822,174
Czech Republic,3,42,25,28.2,176.50,UEFA,1456,70.313725,102.0,0.616822,51
Norway,3,44,26,26.8,270.16,UEFA,1450,63.028571,350.0,0.598131,175
Northern Ireland,3,45,27,27.4,50.22,UEFA,1440,63.790123,81.0,0.588785,40
Iceland,3,46,23,29.0,41.75,UEFA,1438,67.282609,46.0,0.579439,23
Scotland,3,48,26,28.2,274.34,UEFA,1436,64.750903,277.0,0.560748,138
Greece,3,53,28,26.2,114.46,UEFA,1413,69.395833,96.0,0.514019,48
Finland,4,55,25,28.7,32.89,UEFA,1411,63.819444,72.0,0.495327,36
Bosnia,4,56,23,26.7,87.12,UEFA,1410,0.000000,0.0,0.485981,0
Slovenia,4,62,25,27.8,148.34,UEFA,1379,68.704918,61.0,0.429907,30
Montenegro,4,63,37,28.1,70.51,UEFA,1370,66.363636,33.0,0.420561,16
Albania,4,66,28,26.1,117.89,UEFA,1360,66.418605,43.0,0.392523,21
Bulgaria,4,68,26,28.1,21.62,UEFA,1350,63.463415,41.0,0.373832,20
Israel,4,87,23,27.3,49.89,UEFA,1279,71.125000,16.0,0.196262,8
Belarus,4,88,25,27.2,15.84,UEFA,1269,0.000000,0.0,0.186916,0
Georgia,4,89,27,26.9,57.09,UEFA,1267,69.040000,25.0,0.177570,12
Luxembourg,4,98,24,25.8,21.37,UEFA,1235,65.666667,9.0,0.093458,4
Armenia,5,99,23,27.6,18.65,UEFA,1233,69.375000,8.0,0.084112,4
Cyprus,5,100,28,25.4,18.65,UEFA,1224,61.727273,11.0,0.074766,5
Faroe Islands,5,107,23,28.0,4.59,UEFA,1183,61.400000,5.0,0.009346,2
Azerbaijan,5,108,33,25.8,17.38,UEFA,1180,62.833333,6.0,0.000000,3
Estonia,5,108,27,26.3,5.39,UEFA,1180,66.333333,6.0,0.000000,3

In [72]:
team_player_details['Total Value']=team_player_details['Total Value'].astype(float)

In [40]:
different_teams_qualified = team_player_details.loc[(team_player_details['Normalize_Rank'].gt(0.4)) & 
(team_player_details['Total Value'].gt(35))].reset_index()
different_teams_qualified

,Nation,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
0,Iran,29,26,31.4,63.64,AFC,1496,69.000000,15.0,0.979381,7
1,Japan,27,23,27.7,91.47,AFC,1502,63.690949,453.0,1.000000,226
2,South Korea,38,23,27.5,39.00,AFC,1465,0.000000,0.0,0.886598,0
3,Australia,41,24,28.7,46.42,AFC,1457,62.581633,196.0,0.855670,98

In [37]:
teams_qualified = team_player_details.loc[(team_player_details['Normalize_Rank'].gt(0.4)) & 
((team_player_details['Squad_Size'] * 1.5) < team_player_details['Above_Median_Count'])]
teams_qualified

,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,
Japan,27,23,27.7,91.47,AFC,1502,63.690949,453.0,1.000000,226
Australia,41,24,28.7,46.42,AFC,1457,62.581633,196.0,0.855670,98
Saudi Arabia,67,25,26.2,24.83,AFC,1353,60.929032,310.0,0.587629,155

In [38]:
different_values = teams_qualified[~teams_qualified.isin(different_teams_qualified)].dropna()
different_values

,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,
Japan,27,23,27.7,91.47,AFC,1502,63.690949,453.0,1.000000,226
Australia,41,24,28.7,46.42,AFC,1457,62.581633,196.0,0.855670,98
Saudi Arabia,67,25,26.2,24.83,AFC,1353,60.929032,310.0,0.587629,155

In [80]:
more_team_player_details = team_player_details[team_player_details['Total Value'].lt(1.3)]
more_team_player_details

,Pots,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,,
France,1,2,26,27.6,1.17,UEFA,1755,67.416667,984.0,0.990654,492
England,1,4,25,25.6,1.11,UEFA,1670,63.251950,1667.0,0.971963,833
Germany,1,13,23,26.3,1.04,UEFA,1610,65.939145,1216.0,0.887850,608

In [82]:
UEFA_Higher_Pot = team_player_details[team_player_details['Pots'].isin([1]) 
                                      & team_player_details['Normalize_Rank'].gt(0.4) & 
((team_player_details['Squad_Size'] * 1.5) < team_player_details['Above_Median_Count']) &
                                     (team_player_details['Total Value'].gt(150))]
UEFA_Higher_Pot

,Pots,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,,
Belgium,1,1,31,27.4,793.10,UEFA,1780,68.432836,268.0,1.000000,134
Portugal,1,5,24,27.4,845.90,UEFA,1662,70.514535,344.0,0.962617,172
Spain,1,6,24,26.4,940.50,UEFA,1645,69.953623,1035.0,0.953271,517
Italy,1,10,29,27.1,893.20,UEFA,1625,67.657104,732.0,0.915888,366
Croatia,1,11,25,28.2,385.00,UEFA,1617,69.785714,126.0,0.906542,63
Denmark,1,12,27,27.7,330.33,UEFA,1614,63.681159,345.0,0.897196,172
Netherlands,1,14,24,27.4,566.23,UEFA,1609,68.149038,416.0,0.878505,208

In [84]:
frames = (more_team_player_details, UEFA_Higher_Pot)
UEFA_Higher_df = pd.concat(frames)
UEFA_Higher_df

,Pots,Rank,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count,Normalize_Rank,Above_Median_Count
Nation,,,,,,,,,,,
France,1,2,26,27.6,1.17,UEFA,1755,67.416667,984.0,0.990654,492
England,1,4,25,25.6,1.11,UEFA,1670,63.251950,1667.0,0.971963,833
Germany,1,13,23,26.3,1.04,UEFA,1610,65.939145,1216.0,0.887850,608
Belgium,1,1,31,27.4,793.10,UEFA,1780,68.432836,268.0,1.000000,134
Portugal,1,5,24,27.4,845.90,UEFA,1662,70.514535,344.0,0.962617,172
Spain,1,6,24,26.4,940.50,UEFA,1645,69.953623,1035.0,0.953271,517
Italy,1,10,29,27.1,893.20,UEFA,1625,67.657104,732.0,0.915888,366
Croatia,1,11,25,28.2,385.00,UEFA,1617,69.785714,126.0,0.906542,63
Denmark,1,12,27,27.7,330.33,UEFA,1614,63.681159,345.0,0.897196,172
Netherlands,1,14,24,27.4,566.23,UEFA,1609,68.149038,416.0,0.878505,208

In [ ]:
UEFA_Lower_Pot = team_player_details[~team_player_details['Pots'].isin([1, 2]) 
                                      & team_player_details['Normalize_Rank'].gt(0.4) & 
((team_player_details['Squad_Size'] * 1.5) < team_player_details['Above_Median_Count']) &
                                     (team_player_details['Total Value'].gt(100))]
UEFA_Lower_Pot

In [ ]:
data_frame.set_index('Rank')

In [42]:
data_frame = pd.read_csv("Latest_Rankings.csv")
data_frame

     Rank      Nation  Squad_Size  Avg_Age Total Value Confideration  Points
0       1     Belgium          31     27.4    $793.10m          UEFA    1780
1       2      France          26     27.6     $1.17bn          UEFA    1755
2       3      Brazil          25     27.6     $1.03bn      CONMEBOL    1743
3       4     England          25     25.6     $1.11bn          UEFA    1670
4       5    Portugal          24     27.4    $845.90m          UEFA    1662
..    ...         ...         ...      ...         ...           ...     ...
203   206   Sri Lanka          23     25.9      $1.14m           AFC     853
204   207   US Virgin          23     22.6      $83Th.      CONCACAF     844
205   208   B. Virgin          20     21.3           -      CONCACAF     842
206   209    Anguilla          22     26.0           -      CONCACAF     821
207   210  San Marino          23     26.0     $919Th.          UEFA     810

[208 rows x 7 columns]

In [48]:
host_nation = data_frame[data_frame['Nation'] == 'Qatar']
host_nation

    Rank Nation  Squad_Size  Avg_Age Total Value Confideration  Points
57    58  Qatar          23     25.7     $16.25m           AFC    1391

In [47]:
host_team_details = pd.merge(host_nation, grouped_players_df, left_on='Nation', right_index=True, how='left').fillna(0)
host_team_details

,Rank,Nation,Squad_Size,Avg_Age,Total Value,Confideration,Points,mean,count
57,58,Qatar,23,25.7,$16.25m,AFC,1391,0.0,0.0

In [ ]:
host_team_details.dtypes

In [ ]:
host_team_details['Normalize_Rank'] = 0
host_team_details['Above_Median_Count'] = 0
host_team_details

In [ ]:
final_grouped_players_df = final_grouped_players_df.reset_index()

In [ ]:
final_grouped_players_df = final_grouped_players_df.rename(columns={'nationality': 'Nation'})
final_grouped_players_df.set_index('Nation')
final_grouped_players_df.dtypes

In [ ]:
host_complete_details = pd.merge(host_nation, final_grouped_players_df, left_on='Nation', right_index=True, 
                                 how='left').fillna(0)
host_complete_details